# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/docs/.vitepress/cache/
/node_modules/
/docs/.vitepress/dist/
/.env
